

<%= link_to 'New image', new_image_path, class: 'ui primary button' %>
<br/>
<br/>
<div class="middle">
    <i class="user icon"></i>owner:  <%=current_user.name %>
</div>


<table class="ui compact celled definition table">
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>category</th>
    <th>Date</th>
    <th>Image</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>

    <th colspan="3"></th>
  </tr>
  <tbody>
<%@image.each do |img| %>
    <td><%= img.first_name %></td>
    <td><%= img.last_name %></td>
    <td><%= img.category %></td>
    <td><%=img.date.strftime('%b %d, %Y, %A | %I:%M:%S %p') %></td>
    <td><%= link_to "Image link", img.image_url, class: 'ui primary button' %></td>

<!--    <td><%#= link_to "Image link", target: :_blank do %>-->
        <%#=image_tag(images_path, alt: img.image) %>
<!--      <%#end %></td>-->

<!--        <a href="<%#=img.image_url %>>" target="_blank">Link name</a>-->


    <!--    <img src="<%#=img.image %>"-->
<!--         width="20"-->
<!--         height="20">-->

    <td><%= link_to 'Show', image_path(img), class: 'ui primary button' %></td>
    <td><%= link_to 'Edit', edit_image_path(img), class: 'ui primary button' %></td>
    <td><%= link_to 'Destroy', image_path(img),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: 'ui primary button' %></td>
  </tr>
<% end %>
  </tbody>
</table>

